.page-header-wrap {
    background-color: #ffffff;
    height: 50px;
    position: fixed;
    /* padding-left: 15px;
    padding-right: 15px; 
    width: 100%;*/
}

.page-header-wrap.is_sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 50px;
    border-bottom: 1px solid #ededf1;
    margin: 0
}


.page-header-wrap.is_sticky.has-no_border {
    border: 0
}

.page-header-wrap.is_sticky.has-no_bg {
    background-color: transparent
}

.page-header-wrap.is_sticky {
    z-index: 90
}

